.footer-img{
    width: 100%;
    height: 250px;
}
.end-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkblue;
}
.end-nav ul li{
    display: inline-flex;
    padding: 10px;
    background-color: rgb(34, 34, 129);

}
.footer{
    background-color: rgb(2, 2, 49);
    color: white;
   
}
.end{
    display: flex;
    align-items: center;
    justify-content: space-around;
   padding-bottom: 40px;
}
.foot{
    display: flex;
    justify-content: space-between;
}
.end-btn{
background-color: gold;
padding: 10px;
}